.b-order-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(33% - 6px);
  border: 1px solid #d0d0d0;
  margin-bottom: 20px;
  padding: 24px;
  min-height: 200px;
  text-align: center;
  transition: border-color .3s, box-shadow .2s;
  cursor: pointer;

  &:hover {
    border-color: #12ce0e;
    box-shadow: 0 4px 4px rgb(112 112 112 / 25%);
  }

  &__logo {
    width: 100px;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
  }

  &__description {
    font-size: 12px;
  }
}
