@import '../../styles/variables';

.b-status-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
  padding: 0 30px;

  &__title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;

    &._info {
      color: $deepNavy;
    }

    &._success {
      color: $green;
    }

    &._error {
      color: $red;
    }
  }

  &__text {
    text-align: center;
  }
}
