@import "../shared/styles/variables";

.b-abka-popup {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  min-height: 135px;
  font-size: 12px;
  padding: 20px;

  &__status-wrap {
    padding-bottom: 15px;
    border-bottom: 1px solid $paleGray;
    &:last-child {
      border-bottom: none;
    }
  }

  &__version {
    font-size: 10px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $darkGray;
  }
}
