.b-info-row {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #808080;

  &:last-child {
    margin-bottom: 0;
  }

  &__descr-wrap {
    display: flex;
    flex-direction: column;
  }

  &__link {
    text-decoration: none;
    padding-bottom: 2px;
    display: inline-block;
    border-bottom: 1px dotted;
    color: #00a550;
  }

  &__label {
    padding-right: 50px;
  }

  &__note {
    font-size: 10px;
    margin-top: 2px;
    white-space: nowrap;
  }

  &__value {
    color: #333333;
    font-weight: 600;
    white-space: nowrap;
  }

  &._with-error {
    .b-info-row {
      &__value {
        color: #d01212;
      }
    }
  }

  &._for-success {
    .b-info-row {
      &__value {
        color: #0fb55a;
      }
    }
  }
}
