.b-export {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;

  &__content-wrap {
    min-height: 100px;
    background: #fff;
    z-index: 1;
  }

  &__bg-preloader-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  &__descr {
    margin-bottom: 20px;
  }
}
