@import '../../styles/variables';

$headerHeight: 60px;

.b-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $lightBg;
  padding: 0 20px;
  height: $headerHeight;
  background: $lightBg;

  &__title {
    font-weight: 600;
    font-size: 16px;
    color: $deepNavy;
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: $headerHeight;
    border-bottom-left-radius: 10px;
    transition: background-color .25s;

    &:hover {
      background-color: #ddd;
    }
  }

  &__close-icon {
    display: block;
    width: 15px;
    height: 15px;
  }
}
