@import '../../../shared/styles/variables';

.b-popup-note {
  padding: 10px;
  background: $lightBg;
  border-radius: 15px;
  text-align: center;
  font-size: 13px;
  line-height: 1.3;

  &_type {
    &_error {
      background: $red;
      color: $white;
    }

    &_info {
      background: $lightBg;
      color: $deepNavy;
    }
  }
}
