.b-inline-notification {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;

  &._without-mb {
    margin-bottom: 0;
  }

  &__wrapper {
    padding: 15px 20px;

    &._success {
      background: #00A550;
      color: #fff;
    }

    &._errors {
      background: #ea5151;
      color: #fff;
    }

    &._warnings {
      background: #ffc126;
      color: #333;
    }
  }

  &__title {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__descr {
    margin-top: 10px;
    line-height: 1.4;
  }

  &__items {
    margin-top: 10px;
    padding-left: 15px;
  }

  &__item {
    margin-bottom: 6px;
  }
}
