@import '../../styles/variables';

.b-abka-portal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .75);
  z-index: 99999999999;

  &__content-wrap {
    position: relative;
    width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: 10px;
    overflow: hidden;
  }
}
