@import 'variables';

.b-abka-default-styles {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.b-abka-link {
  color: $deepNavy;
  text-decoration: none;

  &._td {
    text-decoration: underline;
  }
}
