$black: #000000;
$white: #ffffff;
$green: #12ce0e;
$mint: #DCFBEC;
$cyan: #37D9FF;
$darkCyan: #cef0f6;
$deepNavy: #0F1833;
$mint: #DCFBEC;
$paleBlue: #EBFAFF;
$paleGray: #E5E6EE;
$darkGray: #AFB1B8;
$red: #F95151;
$orange: #ffc126;
$cardBg: #E7FFF4;
$lightBg: #f2f2f2;

$baseFontSize: 1.2px;

$borderRadius: 15px;

$minWidth: 769px;
