.b-circle-arrow-icon {
  display: flex;
  width: 100%;
  height: 100%;

  &_color {
    &_green {
      .b-circle-arrow-icon {
        &__path {
          fill: rgba(0, 165, 80, 1);
        }

        &__polygon {
          fill: rgba(0, 165, 80, 1);
        }
      }
    }

    &_black {
      .b-circle-arrow-icon {
        &__path {
          fill: #333;
        }

        &__polygon {
          fill: #333;
        }
      }
    }
  }

  &__path {
    transition: fill .2s ease;
  }

  &__polygon {
    transition: fill .2s ease;
  }
}
