.b-client-profile {
  &__error-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-align: center;
  }

  &__btns-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }

    .b-button {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__btn-wrap {
    margin-top: 2rem
  }
}
