@import '../../styles/variables';

$borderWidth: 2px;

.b-preloader {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.b-circle__a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: $borderWidth solid;
  border-radius: 100%;
  opacity: .25;

  &._white {
    border-color: $white;
  }

  &._green {
    border-color: $green;
  }

  &._dark-gray {
    border-color: $darkGray;
  }

  &._deep-navy {
    border-color: $deepNavy;
  }

  &._blue {
    border-color: $cyan;
  }
}

.b-circle__b {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  border-width: $borderWidth;
  border-style: solid;
  animation: rotate-circle 680ms linear infinite;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: $white;

  &._white {
    border-top-color: $white;
  }

  &._green {
    border-top-color: $green;
  }

  &._dark-gray {
    border-top-color: $darkGray;
  }

  &._deep-navy {
    border-top-color: $deepNavy;
  }

  &._blue {
    border-top-color: $cyan;
  }
}
