.b-inline-link {
  display: inline-block;

  &__link {
    display: flex;
    align-items: center;
    color: rgba(0, 165, 80, 1);
    text-decoration: none;
    padding-bottom: 1px;
    font-weight: 600;
  }

  &__label-wrap {
    border-bottom: 1px dotted;
  }

  &__icon-wrap {
    position: relative;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    margin-left: .4rem;
    margin-right: .4rem;
  }
}
