@import '../../styles/variables';

.b-button {
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 15px;
  border: 2px solid transparent;
  padding: 0;
  line-height: 0;
  transition: all .2s;
  cursor: pointer;

  &._bg-color {
    &-gray {
      &._stroked {
        background: transparent;
        border-color: $paleGray;
        border-width: 1px;
        color: #252935;

        &:hover {
          border-color: #e3e3e3;
          background-color: #f7f7f7;
        }
      }

      &._filled {
        background-color: $paleGray;
        color: $deepNavy;
      }
    }

    &-green {
      &._stroked {
        background: transparent;
        border-color: $green;
        border-width: 1px;
        color: $deepNavy;

        &._is-active, &:hover {
          background: $green;
          border-color: $green;
          color: $white;
        }
      }

      &._filled {
        background-color: $green;
        color: $white;
      }
    }

    &-red {
      &._stroked {
        background: transparent;
        border-color: $red;
        border-width: 1px;
        color: $red;
      }

      &._filled {
        background-color: $red;
        color: $white;
      }
    }

    &-blue {
      &._stroked {
        background: transparent;
        border-color: $cyan;
        border-width: 1px;
        color: $deepNavy;

        &._is-active, &:hover {
          background: $cyan;
          border-color: $cyan;
          color: $white;
        }
      }

      &._filled {
        background-color: $cyan;
        color: $deepNavy;
      }
    }
  }

  &._small {
    font-size: 10px;
    height: 30px;

    .b-button__preloader-wrapper {
      width: 15px;
      height: 15px;
    }
  }

  &._super-big {
    height: 60px;

    .b-button__preloader-wrapper {
      width: 24px;
      height: 24px;
    }
  }

  &._big {
    font-size: 11px;
    height: 46px;

    .b-button__preloader-wrapper {
      width: 24px;
      height: 24px;
    }
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1px;
    font-size: 13px;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin-left: 1px;
    position: relative;
    top: -2px;
  }

  &__preloader-wrapper {
    display: inline-block;
  }
}

